# Copy this file to .env and replace the placeholder values locally.
BINANCE_API_KEY_TEST="Bh6sjUf8ifXQ6KQbu4X369UxvfVDCuZsyXOtLJfUhW495HnATXcIogFhHmVjXGtD"
BINANCE_SECRET_KEY_TEST="sHLbJgJa4RGD3ImmLwWzTNQB6lRQgcmiLSB7qmNcsnweDkUFwvP8Ycy7qsREJuKT"
BINANCE_API_KEY="7zQ94KRG5reJ5K0AyUPVJkd9UcJyOxssIpWkBdArFjdWOR6e5T5sdiPACYKlaECG"
BINANCE_SECRET_KEY="RnPop1huoJdFjnIXELrzi0ZjN0tN932JWtS6CWwc6tjCjiBQu0O53tJfoWbBnEA9"